<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="DeltaCompressionDotNet" version="2.0.0.0" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="2.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Mono.Cecil" version="0.10.0-beta7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SharpCompress" version="0.19.2" targetFramework="net452" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="Square.Connect" version="2.5.1.237" targetFramework="net452" />
  <package id="squirrel.windows" version="1.4.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0-preview1-26216-02" targetFramework="net452" requireReinstallation="true" />
  <package id="WPFTextBoxAutoComplete" version="1.0.5" targetFramework="net452" />
</packages>